*{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}


.App {
  display: grid;
  justify-content: center;
  align-content: center;

}

.uploadButton{
  justify-content: center;
  align-content: center;
  padding: 25%;

}