* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}

/* Upload button*/

#uploadDiv {
  height: 20vh;
  padding: 1%;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 30vh;
  color: whitesmoke;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#file + label {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

#file:focus + label,
#file + label:hover {
  background-color: white;
  color: #808080;
}

#file + label {
  cursor: pointer; /* "hand" cursor */
}

/* Displayed JSON*/

.DisplayJSON {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 40%;
  height: 50vh;
  background-color: whitesmoke;
  color: #808080;
  border-radius: 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

/*NavBar*/

.navbar {
  /* list-style: none;
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0);
  max-height: 50px;
   */
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: rgba(255, 255, 255, 0);
  border-bottom: solid 2px whitesmoke;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-links li {
  list-style: none;
}

.menuItem a:hover {
  color: rgb(97, 97, 97);
  height: 100%;
  font-weight: 400;
}

/**/

/*Logo*/

#logo {
  height: 50px;
}

/*Search bar*/

.search-container {
  width: 490px;
  display: block;
  margin: 2% 5%;
  color: whitesmoke;
}

#search {
  margin-bottom: 2%;
  text-shadow: 5px 3px 9px rgba(148, 133, 133, 0.56) #d0cfce;
}

input.search-bar {
  margin: 0 auto;
  width: 20%;
  height: 40px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #d0cfce;
  outline: none;
  border-radius: 5%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

input.search-bar::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input.search-bar::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input.search-bar:focus {
  border: 1px solid #612c2c;
  transition: 0.35s ease;
  color: #612c2c;
}

input.search-bar:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
/*Dashboard icons*/

.icon-container {
  display: flex;
  flex-wrap: wrap;
  /* width: 70%; */
  margin: 5% auto;
  justify-content: center;
}

.eachIcon {
  display: flex;
  height: 25vh;
  margin: auto;
}
/*login*/

form {
  display: grid;
  justify-content: center;
}

label {
  margin: 3px;
  align-items: center;
}

input {
  border-radius: 3px;
}
